body {
  background-color: #bbb;
}

.Title {
  text-align: center;
  font-size: 30px;
  padding: 10px 0 20px 0;
  font-weight: bold;
  margin: 0 auto;
}

.RandomArticles,
.RandomImages {
  font-size: 16px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.Controls {
  text-align: center;
}

.Controls__numberInput--error {
  border: 1px darkred solid;
}

.Controls__errorMessage {
  display: none;
  color: darkred;
  font-size: 12px;
  margin-top: 5px;
}

.Articles {
  width: 1000px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.Article {
  width: 430px;
  display: inline-flex;
  flex-direction: column;
  margin: 20px 5px;
  vertical-align: top;
  padding: 15px 30px;
  font-size: 14px;
  background-color: #eee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.Article__titleSection {
  display: flex;
}

.Article__title {
  font-size: 18px;
  font-weight: bold;
  flex: 1 0 auto;
  max-width: 80%;
}

.Article__link {
  font-size: 12px;
  flex: 0 1 auto;
}

.Article__summary {
  padding: 12px 0px;
  max-height: 300px;
  overflow: auto;
}

.Article__categories {
  text-align: left;
  margin-top: 15px;
  flex: 1 0 auto;
}

.Article__categories ul {
  list-style: none;
  font-size: 12px;
  padding-left: 10px;
  margin-top: 5px;
}

.Article__categoriesTitle {
  font-size: 16px;
}

.Article__noCategories {
  font-style: italic;
  margin-top: 15px;
}

.MainImageContainer {
  text-align: center;
  width: 80%;
  margin: auto;
}

.MainImageContainer__image {
  display: block;
  max-width: 100%;
  margin: 10px auto;
  border: 2px solid black;
}
